<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <ul class="list-inline text-center">
                    <li class="list-inline-item">
                        <a href="https://twitter.com/sbootstrap" target="_blank"
                            ><fa-stack size="lg">
                                <fa-icon class="ng-fa-icon fa-stack-2x" 
                                    [icon]="faCircle" stackItemSize="2x"
                                    [ngStyle]="{'color':'black'}"
                                ></fa-icon>
                                <fa-icon class="ng-fa-icon fa-stack-1x fa-inverse" 
                                    [icon]="faTwitter" stackItemSize="1x"
                                ></fa-icon>
                            </fa-stack
                        ></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://facebook.com" target="_blank"
                            ><fa-stack size="lg">
                                <fa-icon class="ng-fa-icon fa-stack-2x" 
                                    [icon]="faCircle" stackItemSize="2x"
                                    [ngStyle]="{'color':'black'}"
                                ></fa-icon>
                                <fa-icon class="ng-fa-icon fa-stack-1x fa-inverse" 
                                    [icon]="faFacebook" stackItemSize="1x">
                                </fa-icon>
                            </fa-stack
                        ></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://github.com/federico1448/miPorfolio-FrontEnd" target="_blank"
                            ><fa-stack size="lg">
                                <fa-icon class="ng-fa-icon fa-stack-2x" 
                                    [icon]="faCircle" stackItemSize="2x"
                                    [ngStyle]="{'color':'black'}"
                                ></fa-icon>
                                <fa-icon class="ng-fa-icon fa-stack-1x fa-inverse" 
                                    [icon]="faGithub" stackItemSize="1x">
                                </fa-icon>
                            </fa-stack
                        ></a>
                    </li>
                </ul>
                <p class="copyright text-muted"
                    [ngStyle]="{'text-align': 'center'}"
                >Copyright © Federico Bitonte 2022</p>
            </div>
        </div>
    </div>
</footer>
