<header>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <img 
                src={{imagePath}}  id="img1"/>
            <a 
                class="navbar-brand" 
                id="link1" routerLink="/"
                [ngStyle]="{'margin':'0 1rem'}"
                >{{icono}}</a>
            <button class="navbar-toggler ms-auto" 
                type="button" 
                (click)="isMenuCollapsed = !isMenuCollapsed" 
                aria-controls="navbarResponsive" 
                aria-expanded="false" 
                aria-label="Toggle navigation">
                <fa-icon class="ml-1" 
                    [icon]="faBars">
                </fa-icon>
            </button>
            <div class="collapse navbar-collapse"
                [ngbCollapse]="isMenuCollapsed"
                [ngStyle]="{'flex-direction':'row-reverse'}"
                >   
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" 
                        color="#f8f9fa"
                        routerLink="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link icon" 
                            href="https://github.com/StartBootstrap/sb-clean-blog-angular" 
                            target="_blank">
                            <fa-icon 
                                [icon]="faGithub">
                            </fa-icon>
                        </a>
                    </li>
                    <li class="nav-item">
                        <app-acordion-login
                            textbtn={{Logintitle}}
                        >
                        </app-acordion-login>
                    </li>
                </ul>
            </div>
        </div>
         
    </nav>
    
</header>

<app-modal 
    text="Login"
    id="modal-3" >
    <app-button 
        text="Close"
        color="#f8f9fa"
        ><!--(bntClick)="closeModalService('mainNav','modal-3')"-->
    </app-button>
  </app-modal>




