<form
    (submit)="submitModal()" 
    [formGroup]="registerForm">
    <label>Nombre del Skill</label>
    <input 
        id="name" 
        type="text" 
        class="form-control"  
        formControlName="name"
        placeholder="nombre del skill"
    >
    <hr/>
    <label>Porcentaje de Conocimiento</label>
    <input 
        id="porcent" 
        type="text" 
        class="form-control"  
        formControlName="porcent"
        placeholder="porcentaje de conocimiento"
    >
    <hr/>
    <div class="d-flex justify-content-center ">
    <button 
        [ngStyle]="{'margin-top': '0.5rem'}"
        type="submit" 
        class="btn btn-success btn-sm btn-block"
    >Cargar Skill</button>
    </div>
  </form>
