<div>
    <circle-progress class="circle__progress"
                         [percent]="skillvalue.porcent"
                         [animation]="true"
                         [animationDuration]="300"
                         [startFromZero]="true"
                         [showInnerStroke]="true"
                         [titleFontSize]="'28'"
                         [titleFontWeight]="'900'"
                         [unitsFontSize]="'28'"
                         [subtitle]="''"
                         [subtitleFontSize]="'10'"
                         [unitsFontWeight]="'900'"
                         [lazy]="false"
        ></circle-progress>
    <p>{{skillvalue.name}}</p>
</div>
