<div class="container" >
    <hr class="solid">
    <h2>{{title}}</h2>
    <p> </p>
    <div class="row">
       <app-education-item class="col-12 d-flex justify-content-center space"
            *ngFor="let educacion of educacion"
            [educacionvalue]="educacion"
            [loginstatuscurrent]="loginstatus"
            (educacionDeleted)="deleteEducacion(educacion)"
       ></app-education-item> 
    </div>
    <div class="row">
        <div class="col-12 d-flex justify-content-center text-center">
            <a href="#">
                <fa-stack 
                    [style.display]="loginstatus ? 'block':'none'"
                    (click)="openModal(content)"
                    size="lg">
                    <fa-icon class="ng-fa-icon fa-stack-2x" 
                        [icon]="faCircle" stackItemSize="2x"
                        [ngStyle]="{'color':'black'}"
                        
                    ></fa-icon>
                    <fa-icon class="ng-fa-icon fa-stack-1x fa-inverse" 
                        [icon]="faPlus" stackItemSize="1x">
                    </fa-icon>
                </fa-stack>
            </a>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Agregar Educacion</h4>
      <button type="button" class="btn-close" aria-label="Close" 
      (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <app-education-complete-item
        ></app-education-complete-item>
    </div>
    <div class="modal-footer d-flex justify-content-center">
      <button type="button" class="btn btn-secondary btn-sm btn-block"
       (click)="modal.close('Close click')">Close</button>
    </div>
  </ng-template>