<div class="container">
    <div class="row">
        <div class="col-3">
            <img src={{image}}/>
            <div *ngFor="let titulo of user.titulos">
                <p>{{titulo}}</p>
            </div>
        </div>
        <div class="col-9 test">
            <h2 class="subheading">{{user.name}}</h2>
            <span class="meta">{{user.description}}</span>
            <fa-icon 
                    [icon]="faTimes" 
                    [ngStyle]="{'color':'green'}"
                    (click)="editPresentation(user)"
            >
                <!--<app-modal></app-modal>-->
            </fa-icon>
        </div>
    </div>
</div>
