<div class="container">
    <div class="row">
        <div class="col-3">
            <fa-stack class="mipuntero col-8 justify-content-center"
                [style.display]="loginstatus ? 'block':'none'"
                (click)="open(content2,user)"
                size="lg" style="margin: 0 0 -2rem 0;">
                <fa-icon class="ng-fa-icon fa-stack-2x" [icon]="faCircle" stackItemSize="2x" [ngStyle]="{'color':'black'}"></fa-icon>
                <fa-icon class="ng-fa-icon fa-stack-1x fa-inverse" [icon]="faTimes" stackItemSize="1x"></fa-icon>
            </fa-stack>
            <img [src]='retrievedImage'/>
            <fa-stack class="mipuntero col-8 justify-content-center"
                [style.display]="loginstatus ? 'block':'none'"
                (click)="open(content,user)"
                size="lg">
                <fa-icon class="ng-fa-icon fa-stack-2x" [icon]="faCircle" stackItemSize="2x" [ngStyle]="{'color':'black'}"></fa-icon>
                <fa-icon class="ng-fa-icon fa-stack-1x fa-inverse" [icon]="faTimes" stackItemSize="1x"></fa-icon>
            </fa-stack>
            <div *ngFor="let titulo of user.titulos">
                <p>{{titulo}}</p>
            </div>
        </div>
        <div class="col-9 test">
            <h2 class="subheading">{{user.name}}</h2>
            <span class="meta">{{user.description}}</span>
            <fa-stack class="mipuntero col-8 justify-content-center"
                [style.display]="loginstatus ? 'block':'none'"
                (click)="open(content,user)"
                size="lg">
                <fa-icon class="ng-fa-icon fa-stack-2x" [icon]="faCircle" stackItemSize="2x" [ngStyle]="{'color':'black'}"></fa-icon>
                <fa-icon class="ng-fa-icon fa-stack-1x fa-inverse" [icon]="faTimes" stackItemSize="1x"></fa-icon>
            </fa-stack>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Editar Presentacion</h4>
        <button 
            type="button" 
            class="btn-close" 
            aria-label="Close" 
            (click)="modal.dismiss('Cross click')"
        ></button>
    </div>
    <div class="modal-body">
        <app-presentation-title-item
            [presentacion]=user
        ></app-presentation-title-item>  
    </div>
    <div class="modal-footer d-flex justify-content-center">
      <button type="button" class="btn btn-secondary btn-sm btn-block"
       (click)="modal.close('Close click')">Close</button>
    </div>
  </ng-template>


  <ng-template #content2 let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Editar Logo Educacion</h4>
      <button type="button" class="btn-close" aria-label="Close" 
      (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <app-uploadimage
        [idvalue]=idvalue
        [entidad]=perfil
        ></app-uploadimage>
    </div>
    <div class="modal-footer d-flex justify-content-center">
      <button type="button" class="btn btn-secondary btn-sm btn-block"
       (click)="modal.close('Close click')">Close</button>
    </div>
  </ng-template>