<div class="container">
    <div class="row">
        <hr class="solid">
        <h2>{{title}}</h2>
        <p> </p>
        <div class="container">
            <div class="row" >
                <app-experience-item 
                    class="col-12 d-flex justify-content-center space"
                    *ngFor="let experiencia of experiencias"
                    [expItem]="experiencia"
                    [loginstatuscurrent]="loginstatus"
                    (experienceItem)="deleteExperience(experiencia)"
                ></app-experience-item>
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-flex justify-content-center text-center">
                <a href="#">
                    <fa-stack 
                        [style.display]="loginstatus ? 'block':'none'"
                        (click)="openModal(content)"
                        size="lg">
                        <fa-icon class="ng-fa-icon fa-stack-2x" 
                            [icon]="faCircle" stackItemSize="2x"
                            [ngStyle]="{'color':'black'}"
                            
                        ></fa-icon>
                        <fa-icon class="ng-fa-icon fa-stack-1x fa-inverse" 
                            [icon]="faPlus" stackItemSize="1x">
                        </fa-icon>
                    </fa-stack>
                </a>
            </div>
        </div>
    </div>
</div>


<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Agregar Experiencia</h4>
      <button type="button" class="btn-close" aria-label="Close" 
      (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <app-experience-complete-item
        ></app-experience-complete-item>
    </div>
    <div class="modal-footer d-flex justify-content-center">
      <button type="button" class="btn btn-secondary btn-sm btn-block"
       (click)="modal.close('Close click')">Close</button>
    </div>
  </ng-template>